[Unit]
Description=Sentry services

[Service]
ExecStart=/home/pi/sentry/sentry.sh
Type=forking
User=pi
WorkingDirectory=/home/pi/sentry/

[Install]
WantedBy=multi-user.target
