[Unit]
Description=Sentry services
Wants=network-online.service
After=network-online.service

[Service]
ExecStart=/home/pi/sentry/sentry.sh
Type=forking
User=pi
WorkingDirectory=/home/pi/sentry/

[Install]
WantedBy=multi-user.target
