<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentry</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Hello</h1>

    <div id="joystick"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"
            integrity="sha512-HTENHrkQ/P0NGDFd5nk6ibVtCkcM7jhr2c7GyvXp5O+4X6O5cQO9AhqFzM+MdeBivsX7Hoys2J7pp2wdgMpCvw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <!-- Joystick lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.10.0/nipplejs.min.js"></script>

    <script>
      class MotorController {
        constructor() {
          this.socket = io()

          this.socket.onerror = (event) => {
            console.error(event)
          }

          this.socket.onmessage = (event) => {
            console.log('onmessage')
            console.log(event)
          }
        }

        drive(linear, angular) {
          this.socket.emit('motorController.drive', {linear: linear, angular: angular})
        }

        stop() {
          this.socket.emit('motorController.stop')
        }
      }

      var motorController = null

      function main() {
        setupMotorController()
        setupJoystick()
      }

      function setupMotorController() {
        motorController = new MotorController()
        motorController.stop()

        window.onbeforeunload = () => {
          motorController.stop()
        }
      }

      function setupJoystick() {
        const joystickManager = nipplejs.create({
          zone: document.getElementById('joystick'),
          color: 'black',
          position: {left: '5rem', bottom: '5rem'},
          mode: 'static',
        })

        joystickManager.on('end', function(event, joystick) {
          motorController.stop()
        })

        joystickManager.on('move', function(event, joystick) {
          handleJoystickMovement(joystick.vector.x, joystick.vector.y)
        })
      }

      function handleJoystickMovement(x, y) {
        const linear = joystickToLinearVelocity(y)
        const angular = joystickToAngularVelocity(x)

        // TODO: Reverse angular if linear is negative?

        motorController.drive(linear, angular)
      }

      function joystickToLinearVelocity(position) {
        if (Math.abs(position) < 0.1) {
          return 0.0
        }

        return position * getMaxLinearSpeed()
      }

      function getMaxLinearSpeed() {
        return 0.2
      }

      function joystickToAngularVelocity(position) {
        if (Math.abs(position) < 0.1) {
          return 0.0
        }

        return -position * getMaxAngularSpeed()
      }

      function getMaxAngularSpeed() {
        return Math.PI / 2
      }

      main()
    </script>
  </body>
</html>
